@use '../../scss/variables';
@use '../../scss/breakpoints';
@use '../../scss/styles';

.signup {
    display: flex;
    flex-direction: column;

    padding: 0 3rem;

    @include breakpoints.sm {
        padding: 0 4rem;
    }

    a, button {
        margin-top: 2rem;
        font: 14px 'Roboto';
        font-weight: 500;
    } 

    button {
        height: 4rem;
        color: variables.$light;
        font: 1.5rem 'Poppins';
        font-weight: 600;
        text-transform: uppercase;
        background: none;
        border: 1px solid variables.$light;

        cursor: pointer;
    }
}

.signin {
    color: variables.$info;
    align-self: center;
}