@use './scss/breakpoints';
@use './scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap'); // Mina
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); // Roboto
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); // Poppins

:root {
    background: variables.$dark-secondary;
    color: variables.$light;
    font-family: 'Mina';

    @include breakpoints.xs {
        font-size: 12px;
        padding: 8px;
    }

    @include breakpoints.sm {
        padding: 40px;
    }

    @include breakpoints.md {
        padding: 80px;
    }

    @include breakpoints.lg {
        font-size: 16px;    
    }

    @include breakpoints.xl {
        padding: 80px 160px;
    }
}

#root, body, html {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input::placeholder {
    color: variables.$light !important;
}

a {
    text-decoration: none;
}